.container {
    width: 1280px;
    margin: 0px auto;
    background-size: cover;
}
.child2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-size: cover;
}
.child3 {
    display: flex;
    gap: 35px;
}
.child4 {
width: 34px ;
height: 15px ;
    font-weight: 700;
font-size: 12px;

text-transform: uppercase;

color: #83888F;

}
.child5 {
    Width:62px;
Height:15px;
Left:67px;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
color: #83888F;
text-transform: uppercase;
color: #83888F;
}
.child6 {
   Width:140px;
Height:15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

color: #83888F;
}

.container2 {
    
    width: 1200px;
    height: 450px;
    margin:0 auto;
    background-image: url(/Images/aboutimg/abduvohob\(1\).svg);
}


.about {
    Width:220px;
Height:48px;
font-weight: 900;
font-size: 40px;
margin-left: 85px;
color: #FEFCF7;
transform: translateY(137px);

}
.end {
    width: 445px;
    height: 104px;
    margin-left: 80px;
    margin-top: 209px;
    font-weight: 400;
font-size: 16px;
color: #FEFCF7;
}

.child7{
    display: flex;
}
.child8 {
    Width:485px;
Height:606px;
margin-left: 125px;
margin-top: 168px;
border-radius: 5px ;
}


.child10 {
width:900;
Size:40px;
font-weight: 900;
font-size: 40px;
color: #333D4B;
margin-top: 300px;
margin-left:125px ;
}
.child11 {
    width : 400px;
Size: 16px;
font-weight: 400;
font-size: 16px;
color: #333D4B;
margin-top: 35px;
margin-left: 125px;
}