@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap');
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
/* reset end*/

 /* utils */
.container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.portion {
  flex: 1;
}

.text-center{
  text-align: center;
}

 /* utils end*/
 /* navbar */
 #main-header{
    width: 100%;

 }
 #main-header nav{
    height:15vh ;
 }
.logo img{
height: 26px;
width: 236px;

}
#main-headerul li {
    gap: 2rem;
}
.nav-li{
   padding-left: 33px;
   font-size: 12px;
}
.nav-li a{
    color: #83888F;

}
 /* navbar end */
 /* #creat-plan */
 #creat-plan{
    background-image: url(../Images/planimg/creatimg.png);
 height: 450px;
 background-size: cover;
 border-radius: 10px;
}
.creathp{
margin-left: 86px;
width: 485px;

}
.creath{
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 32px;
}
.creatp{
    font-size: 16px;
    font-weight: 400;
    color: #83888F;
    padding-right: 80px;
    line-height: 26px;
}
 /* #creat-plan */
 /* #bitmap */
 #bitmap{
height: 653px;
border-radius: 5px;
background-image: url(../Images/planimg/Bitmapimg.png);
background-size: cover;margin-top: 140px;
position: relative;
 }
 .bitmap-card{
    margin-left: 85px;
    margin-top: 200px;
    text-align: left;
    position: relative;
 }
 .bitmapoval{
    position: absolute;
    top: -100px;
    left: 0px;
 }
 .chiziq-bitmap{
    position: absolute;
    width: 800px;
    top: 115px;
    left: 105px;
 }
 .bitmap-h2{
font-size: 72px;
font-weight: 900;
line-height: 72px;
color: #FDD6BA;
 }
 .bitmap-h3{
font-size: 32px;
font-weight: 900;
line-height: 36px;
color: #fff;
margin: 38px 0;
 }
 .bitmap-p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #FEFCF7;
 }
 /* #bitmap */

 
 /* filter */
 .filter__section {
  margin-top: 100px;
}
.filter__top-active {
  margin-top: 0;
}
 .filter__box {
  display: flex;
  justify-content: space-between;
 }
 .filter__drink ul {
  display: flex;
 }
 .filter__left-box  {
  width: 320px;
 
  font-weight: bold;
  margin-right: 110px;
 
 }
 .filter__left-box ul li {
  margin-bottom: 24px;
  border-bottom: 1px solid #83888F;
  font-size: 24px;
  color: #333D4B;
  cursor: pointer;
  padding-bottom: 24px;
 }
 .Preferences-active {
  color: #0E8784;  
 }
 .Deliveries__number-active {
  color: #83888F;
  
 }
 .Deliveries__text-active {
  color: #333D4B;
 }
 .filter__num {
  margin-right: 24px;
 }
 .filter__drink h2 {
  margin-bottom: 56px;
  color: #83888F;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Fraunces';
  margin-bottom: 56px;
 }

.filter__drink-list li {
  width: 230px;
  height: 220px;
  background: #F4F1EB;
  color: #333D4B;
  padding: 32px 28px;
  margin-right: 25px;
  border-radius: 5px;
}

.filter__drink-list .filter__drink-active {
  background-color: #0E8784;
  color: white;
  padding: 32px 28px;
  
}

.filter__drink-list h3 {
font-weight: 900;
font-size: 24px;
margin-bottom: 24px;
font-family: 'Fraunces';
}
.filter__drink-list p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  line-height: 26px;
}

.filter__drink-active h3 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Fraunces';

}

.filter__drink-active p {
  font-family: 'Barlow', sans-serif;
  line-height: 26px;
  font-weight: 400;
}
.filter__type-heading {
  margin-top: 80px;
}

.order__box {
  margin-top: 84px;
  background-color: #333D4B;
  padding: 40px 50px;
  line-height: 26px;
}

.order__box h3 {
  font-size: 16px;
  font-weight: 400;
  color: white;
  opacity: 40%;
  font-family: 'Barlow', sans-serif;
}
.order__box p {
  width: 580px;
  font-size: 24px;
  color: white;
  line-height: 40px;
  font-family: 'Fraunces';
  font-weight: 900;
}
.order__box p span {
  color: #0E8784;
}

.order__button {
  display: flex;
  justify-content: right;
}

.order__button button {
  margin-top: 40px;
  padding: 15px 35px;
  color: white;
  background-color: #0E8784;
  font-weight: 900;
  font-family: 'Fraunces' serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 100px;
}

footer {
  background-color: #333D4B;
  color: #83888F;
  padding: 50px 0;

}
.footer__box {
  display: flex;
  align-items: center;
}

.footer__box ul {
  display: flex;
  align-items: center;
}
.footer__center-box {
  margin-left: 110px;
  margin-right: 310px;
}
.footer__center-box li {
  margin-right: 33px;
}
.footer__right-box li {
  margin-right: 24px;
}
.footer__center-box li {
  font-weight: 700;
  font-size: 12px;
}